*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.krug{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 15px solid red;
    border-radius: 50%;
    margin-top: 15%;
    animation: krug 2s infinite forwards;
}
@keyframes krug{
0%{
    border-color: red;
    transform: scale(1);
}
25%{
    border-color: gold;
    transform: scale(1.4);
}
50%{
    border-color:greenyellow;
    transform: scale(0.2);
}
75%{
    border-color:blueviolet;
    transform:scale(2)
}
100%{
    border-color: rgb(255, 255, 255);
    transform: scale(1)
}
}
.kvadrat{
    width: 75px;
    height: 75px;
    border: 10px solid lightgreen;
    animation: kvadrat 3s infinite ease-in-out alternate-reverse;
}
@keyframes kvadrat{
    0%{
        transform: rotate(0deg);
        border-color: lightgreen;
        border-width: 5px;
    }
    25%{
        border-color: rgb(132, 0, 255);
        border-width: 10px;
    }
    50%{
        border-color: rgb(77, 203, 235);
        border-width: 20px;
    }
    75%{
        border-color: rgb(250, 0, 0);
        border-width: 40px;
    }
    100%{
        transform: rotate(360deg);
        border-color: lightgreen;
        border-width: 5px;
    }

}